{% load static %}



<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Strangers League | Home</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <!-- Bootstrap Font Icon CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
  <div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark" >

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav animate side-nav" style="background: #716F81;">
          <li class="nav-item">
            <a class="nav-link" href="#" title="Home"><i class="fa fa-home"style="color:#F6AE99"></i> Home <i class="fa fa-home shortmenu animate"style="color:#F6AE99"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="League Info"><i class="fas fa-info-circle"style="color:#F2E1C1"></i> League Info <i class="fas fa-info-circle shortmenu animate"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Draft"><i class="fas fa-football-ball"style="color:#F2E1C1"></i> Draft <i class="fas fa-football-ball shortmenu animate"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="MTS"><i class="fas fa-users"style="color:#F2E1C1"></i> Meet the Strangers <i class="fas fa-users shortmenu animate"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="LS"><i class="fas fa-chart-bar"style="color:#F2E1C1"></i> League Statistics <i class="fas fa-chart-bar shortmenu animate"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Analyses"><i class="fas fa-chart-pie"style="color:#F2E1C1"></i> Analyses <i class="fas fa-chart-pie shortmenu animate"></i></a>
          </li>
        </ul>

      </div>
    </nav>
    </div>

    <div class="container-1">
      <div style="margin: 40px;">
        <h1 style="color: #B97A95">Strangers League </h1>
        <h1 style="color: #555555"> | </h1>
        <h1 style="color: #716F81">Season 3</h1>
      </div>
      <div class="picture-box" style="margin: 40px;">

        <div class="image-container">
          <img class="small-user-picture" src="{% static 'images/jeremy.jpg'%}">
          <div class="image-label">
            <img src="{% static 'images/trophy.png'%}" title="20' Champ!" style="margin-bottom: -10px;">
          </div>
        </div>
        <div class="image-container">
          <img class="small-user-picture" src="{% static 'images/christina.jpg'%}">
          <div class="image-label">
            <img src="{% static 'images/second-place.png'%}" title="20' Runner Up" style="margin-bottom: -10px;">
          </div>
        </div>
        <div class="image-container">
          <img class="small-user-picture" src="{% static 'images/brandon.jpg'%}">
          <div class="image-label">
            <img src="{% static 'images/playoff.png'%}" title="20' Playoff">
          </div>
        </div>

        <div class="image-container">
          <img class="small-user-picture" src="{% static 'images/andrew.jpg'%}">
          <div class="image-label">
            <img src="{% static 'images/playoff.png'%}"title="20' Playoff">
          </div>
        </div>

        <div class="image-container">
          <img class="small-user-picture" src="{% static 'images/steven.jpg'%}">
          <div class="image-label">
            <img src="{% static 'images/playoff.png'%}"title="20' Playoff">
          </div>
        </div>

        <div class="image-container">
          <img class="small-user-picture" src="{% static 'images/matt.jpg'%}">
          <div class="image-label">
            <img src="{% static 'images/playoff.png'%}"title="20' Playoff">
          </div>
        </div>
        <div><img class="small-user-picture" src="{% static 'images/borun.jpg'%}"></div>
        <div><img class="small-user-picture" src="{% static 'images/patrick.jpg'%}"></div>
        <div><img class="small-user-picture" src="{% static 'images/emmerson.jpg'%}"></div>
        <div><img class="small-user-picture" src="{% static 'images/houghton.jpg'%}"></div>
        <div><img class="small-user-picture" src="{% static 'images/chris.jpg'%}"></div>
        <div><img class="small-user-picture" src="{% static 'images/blank-user.png'%}"></div>

      </div>



      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    </body>
    </html>
