{% load static %}



<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Strangers League | League Info</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <!-- Bootstrap Font Icon CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
  <div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark" >

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav animate side-nav" style="background: #716F81;">
          <li class="nav-item">
            <a class="nav-link" href="#" title="Home"><i class="fa fa-home"style="color:#F2E1C1"></i> Home <i class="fa fa-home shortmenu animate"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" title="League Info"><i class="fas fa-info-circle"style="color:#F6AE99"></i> League Info <i class="fas fa-info-circle shortmenu animate" style="color: #F6AE99;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" title="Draft"><i class="fas fa-football-ball"style="color:#F2E1C1"></i> Draft <i class="fas fa-football-ball shortmenu animate"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" title="MTS"><i class="fas fa-users"style="color:#F2E1C1"></i> Meet the Strangers <i class="fas fa-users shortmenu animate"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" title="LS"><i class="fas fa-chart-bar"style="color:#F2E1C1"></i> League Statistics <i class="fas fa-chart-bar shortmenu animate"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" title="Analyses"><i class="fas fa-chart-pie"style="color:#F2E1C1"></i> Analyses <i class="fas fa-chart-pie shortmenu animate"></i></a>
        </li>
    </ul>

</div>
</nav>
</div>

<h1 class="decorated"><span>Roster</span></h1>



<div class="row">

    <div class="container-2">
        <div class='small-box-header'>Position</div>
        <!-- <div class='small-box-filler'></div> -->
        <div class='small-box' style="color: #F2E1C1;">QB</div>
        <div class='small-box' style="color: #F2E1C1;">RB</div>
        <div class='small-box' style="color: #F2E1C1;">WR</div>
        <div class='small-box' style="color: #F2E1C1;">TE</div>
        <div class='small-box' style="color: #F2E1C1;" title="RB/WR/TE">FLEX</div>
        <div class='small-box' style="color: #F2E1C1;">K</div>
        <div class='small-box' style="color: #F2E1C1;">DST</div>
        <div class='small-box' style="color: #F2E1C1;">Bench</div>
        <div class='small-box-filler'></div>
        <!-- <div class='small-box-filler'></div> -->
    </div>
</div>

<div class="row">

    <div class="container-2">
        <div class='small-box-header'>Roster</div>


        <!-- <div class='small-box-filler'></div> -->
        <div class='small-box'>1</div>
        <div class='small-box'>2</div>
        <div class='small-box'>3</div>
        <div class='small-box'>1</div>
        <div class='small-box'>1</div>
        <div class='small-box'>1</div>
        <div class='small-box'>1</div>
        <div class='small-box'>5</div>
        <div class='small-box-filler'></div>
        <!-- <div class='small-box-filler'></div> -->
    </div>
</div>

<div class="row">

    <div class="container-2">
        <div class='small-box-header'>Limit</div>
        <!-- <div class='small-box-filler'></div> -->
        <div class='small-box'>2</div>
        <div class='small-box'>Na</div>
        <div class='small-box'>Na</div>
        <div class='small-box'>2</div>
        <div class='small-box'>Na</div>
        <div class='small-box'>Na</div>
        <div class='small-box'>2</div>
        <div class='small-box'>Na</div>
        <div class='small-box-filler'></div>
        <!-- <div class='small-box-filler'></div> -->
    </div>
</div>
<h1 class="decorated"><span>Scoring</span></h1>
<div class="container-2" style="margin-bottom: 40px">
    <div style="width: 70%; font-size: 1.5rem; color: #716F81;">
        <p> The scoring system for this league is a fairly standard half PPR
         format with a boosted DST scoring. I will create a post
         later contrasting what the DST scores would have looked like had we
         used it last year, but in the meanwhile you can refer to
         <a href="https://draftysports.com/news/you-deserve-better-defense-scoring"target="_blank" style="color:#B97A95 ;">this post.</a>
         The bottom line is that DSTs are higher scoring - they start at 0
         and are rewarded for good defensive plays, and fractionally penalized per yards and points allowed.
         They will be higher scoring and hence more important than usual this year.
     </div>


 </div>
 <div class="h-container">
    <div class="v-container" style="min-width: 10vw"></div>
    <div class="v-container">
        <img class="small-user-picture color-image" src="{% static 'images/qb.png'%}">
    </div>
    <div class="v-container">
        <img class="small-user-picture color-image" src="{% static 'images/wr.png'%}">
    </div>
    <div class="v-container">
        <img class="small-user-picture color-image" src="{% static 'images/rb.png'%}">
    </div>
    <div class="v-container">
        <img class="small-user-picture color-image" src="{% static 'images/kicker.png'%}">
    </div>
    <div class="v-container ">
        <img class="small-user-picture color-image" src="{% static 'images/dst.png'%}">
    </div>
    <div class="v-container" style="min-width: 10vw"></div>


 </div>
 <div class="h-container">
    <div class="v-container" style="min-width: 10vw"></div>

    <div class="v-container" style="border-top: 1px solid #F6AE99;">
        <div><p class="a-left">Passing Yard</p><p class="a-right">0.04pts</p></div>
        <div><p class="a-left">Passing TD</p><p class="a-right">4pts</p></div>
        <div><p class="a-left">Passing 2pt Conv</p><p class="a-right">2pts</p></div>
        <div><p class="a-left">300 Passing Yards</p><p class="a-right">3pts</p></div>
        <div><p class="a-left">400+ Passing Yards</p><p class="a-right">3pts</p></div>
        <div><p class="a-left">Interception</p><p class="a-right">-2pts</p></div>

    </div>
    <div class="v-container" style="border-top: 1px solid #F6AE99;">
        <div><p class="a-left">Reception</p><p class="a-right">0.5pts</p></div>
        <div><p class="a-left">Receiving Yard</p><p class="a-right">0.1pts</p></div>
        <div><p class="a-left">Receiving TD</p><p class="a-right">6pts</p></div>
        <div><p class="a-left">Receiving 2pt Conv</p><p class="a-right">2pts</p></div>
        <div><p class="a-left">100 Receiving Yards</p><p class="a-right">3pts</p></div>
        <div><p class="a-left">200+ Receiving Yards</p><p class="a-right">3pts</p></div>


    </div>
    <div class="v-container" style="border-top: 1px solid #F6AE99;">
        <div><p class="a-left">Rushing Yard</p><p class="a-right">0.1pts</p></div>
        <div><p class="a-left">Rushing TD</p><p class="a-right">6pts</p></div>
        <div><p class="a-left">Rushing 2pt Conv</p><p class="a-right">2pts</p></div>
        <div><p class="a-left">100 Rushing Yards</p><p class="a-right">3pts</p></div>
        <div><p class="a-left">200+ Rushing Yards</p><p class="a-right">3pts</p></div>

    </div>
    <div class="v-container" style="border-top: 1px solid #F6AE99;">
        <div><p class="a-left">Extra Point</p><p class="a-right">1pts</p></div>
        <div><p class="a-left">Field Goal (per yard)</p><p class="a-right">0.1pts</p></div>
        <div><p class="a-left">FG Missed (0-29 yards)</p><p class="a-right">-2pts</p></div>
        <div><p class="a-left">FG Missed (30-49 yards)</p><p class="a-right">-1pts</p></div>

    </div>
    <div class="v-container" style="border-top: 1px solid #F6AE99;">
        <div><p class="a-left">Yard Allowed</p><p class="a-right">-0.02pts</p></div>
        <div><p class="a-left">Point Allowed</p><p class="a-right">-0.4pts</p></div>
        <div><p class="a-left">Interception</p><p class="a-right">2pts</p></div>
        <div><p class="a-left">Recovered Fumble</p><p class="a-right">2pts</p></div>
        <div><p class="a-left">Sack</p><p class="a-right">1pts</p></div>
        <div><p class="a-left">Tackle for Loss</p><p class="a-right">0.5pts</p></div>
        <div><p class="a-left">4th Down Stop</p><p class="a-right">2pts</p></div>
        <div><p class="a-left">Three and Out</p><p class="a-right">0.5pts</p></div>
        <div><p class="a-left">Safety</p><p class="a-right">4pts</p></div>
        <div><p class="a-left">Returned XP</p><p class="a-right">2pts</p></div>
        <div><p class="a-left">Blocked Kick</p><p class="a-right">3pts</p></div>

    </div>
    <div class="v-container" style="min-width: 10vw"></div>
</div>


<h1 class="decorated"><span>Waiver Wire</span></h1>
<div class="container-2" style="margin-bottom: 40px">
    <div style="width: 70%; font-size: 1.5rem; color: #716F81;">
        <p> We will be implementing a daily waiver wire system for this league.
            This means that instead of having waiver claims and decisions go through
            during a specific period (traditionally Tuesday-Thursday) after which
            it is a free for all FA pool, we will have this process every non-game day.
            This is to ensure that waiver wire is not on a first come first serve
            basis, since mostly everyone in this league works full time.
        </p>
    </div>


</div>


<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</body>
</html>
